body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input,
li,
ol,
p,
table,
td,
ul {
  margin: 0;
  padding: 0
}

html {
  height: 100%;
  font-size: 20px;
}

body {
  background-color: #222d46;
  font-family: "微软雅黑";
  min-height: 100%;
  padding-bottom: 4.1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h2,
h3 {
  font-weight: normal
}

[v-cloak] {
  display: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none
}

input,
select,
textarea {
  outline: none;
  border: none;
  background: none
}

input {
  -webkit-appearance: none
}

textarea {
  resize: none
}

a {
  text-decoration: none;
  color: #000;
  font-size: 0.7rem
}

img {
  border: none;
  vertical-align: top
}


.header {
  background-color: #222d46;
  padding-bottom: 0.05rem;
  padding: 0.1rem 0;
}

/* 搜索框 */
.header .search {
  display: block;
  border: 1px solid #ccc;
  border-radius: 35px;
  color: #fff;
  margin: 30px 15px;
}

.search .search-select{
  border: none;
  padding: 5px 10px;
  box-shadow: none;
  color: #eee;
}
.search .search-select>option{
  background-color: #293550;
  color: #eee;
  border: none;
}

.search .search-input {
  height: 2rem;
  margin: 0 auto;
  font-size: 0.8rem;
  line-height: 1rem;
  padding: 10px 5px;
  color: #fff;
  border: none;
  box-sizing: border-box;
}

.section {
  margin-top: 2rem;
}

.section h3 {
  font-size: 0.8rem;
  color: #fff;
  font-weight: bold;
  margin: 5px 15px;
  padding: 0 8px;
  height: 1rem;
  line-height: 1rem;
  border-left: 2px solid #293550;
}

.section ul{
  margin: 0 10px;
}

.section li {
  display: inline-block;
  margin: 5px;
  width: 30%;
  height: 30px;
  text-align: left;
  line-height: 30px;
}

.section li a {
  display: block;
  color: #fff;
  font-weight: 500;
  background: #293550;
  border-radius: 5px;
  text-align: left;
  padding: 5px 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
}


.footer {
  padding: 1rem 1rem;
  margin-top: 5rem;
}

.footer p {
  font-size: 0.7rem;
  line-height: 1.2rem;
  color: #ccc;
}

.footer p a {
  color: #fff;
}