@charset "UTF-8";

html html {
    -webkit-text-size-adjust: none
}

.display {
    display: none !important
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: inherit
}

a {
    color: white
}

.vertical-center {
    top: 50%
}

.show {
    display: block
}

.none {
    display: none
}

.warp {
    height: 485px;
    overflow: scroll
}

.h-auto {
    height: auto !important
}

.toggle-h4 {
    height: auto !important;
    margin: 0
}

.triangle {
    position: absolute;
    top: 0;
    right: 0;
    line-height: .8rem;
    font-size: .4rem;
    padding: 0;
    font-weight: 300
}

.triangle span {
    display: inline-block;
    transform-origin: 50% 50%;
    transform: rotate(0deg)
}

.before {
    position: absolute;
    z-index: 0;
    bottom: 0;
    line-height: 0;
    transform: rotate(-90deg);
    left: 50%;
    margin-left: -12.5%
}

.rotate {
    transform: rotate(0deg)
}

.layout {
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    color: white;
    overflow: hidden;
    padding-bottom: 31px
}

.layout .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    -webkit-filter: blur(30px);
    background-image:url(../img/bg.jpg)
}

.layout .header {
    border: 0;
    height: 1rem;
    padding: 0;
    text-align: center
}

.layout .header .logo a {
    line-height: 1rem;
    padding: 0;
    display: block
}

.layout .header .logo a img {
    padding: 0;
    width: 100%;
    height: 100%
}

.layout .header .personal-center {
    padding: 0;
    line-height: 1rem
}

.layout .header .personal-center a {
    padding: .15rem .4rem;
    border: 1px solid #FFF;
    border-radius: 5px;
    width: 100%;
    font-size: .18rem
}

.layout .header .youmeek-nav {
    line-height: 1rem;
    text-align: right
}

.layout .header .youmeek-nav span {
    font-size: .3rem;
    font-weight: 800;
    margin-right: .6rem
}

.layout .search-text {
    margin-top: .1rem;
    z-index: 1
}

.layout .search-text input {
    height: .5rem;
    color: black;
    font-size: .18rem;
    vertical-align: bottom;
    border: 0;
    outline: 0
}

.layout .btn-group {
    z-index: 1;
    width: 100%;
    font-size: .16rem;
    text-align: center;
    margin-top: .2rem
}

.layout .btn-group a {
    display: inline-block;
    width: 24%;
    border: 1px solid #FFF;
    border-radius: 5px;
    padding: .15rem 0;
    font-size: .24rem
}

.layout .main-nav {
    z-index: 1;
    font-size: .24rem;
    text-align: center;
    padding: 0 15px;
    position: relative
}

.layout .main-nav ul {
    border-bottom: 1px solid white;
    margin: 0
}

.layout .main-nav ul li {
    height: .68rem;
    line-height: .68rem;
    position: relative;
    display: inline-block;
    text-align: center;
    overflow: hidden
}

.layout .main-list {
    z-index: 1;
    height: 450px;
    overflow: scroll;
    display: none
}

.layout .main-list .main-line {
    position: relative
}

.layout .main-list .main-line .list-header {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-57%);
    left: 0;
    padding: 0;
    text-align: left;
    height: .8rem;
    line-height: .8rem;
    font-size: .26rem;
    overflow: hidden;
    width: 20%
}

.layout .main-list .main-line .list-header span {
    width: 100%;
    overflow: hidden;
    line-height: .8rem;
    vertical-align: middle
}

.layout .main-list .main-line .list-header span span {
    display: inline-block;
    height: .8rem;
    width: 85%;
    overflow: hidden;
    text-align: center
}

.layout .main-list .main-line ul {
    border-bottom: 1px solid #FFF;
    padding-left: 20%;
    padding-right: 5%;
    width: 100%;
    font-size: 0;
    overflow: hidden;
    height: .8rem;
    text-align: center;
    margin: 0
}

.layout .main-list .main-line ul li {
    height: .8rem;
    padding: 0 10px;
    line-height: .8rem;
    font-size: .22rem;
    overflow: hidden
}

.layout .main-list .main-line ul li a {
    vertical-align: top
}

.layout .point-list {
    font-size: 0;
    position: absolute;
    bottom: 1%;
    left: 50%;
    margin-left: -0.25rem
}

.layout .point-list span {
    border-radius: 50%;
    display: inline-block;
    width: .2rem;
    height: .2rem;
    background-color: #ccc
}

.layout .point-list span:nth-child(2) {
    margin-left: .1rem
}

.layout .point-list .span-active {
    background-color: white
}

.chunk {
    text-align: center;
    padding: .5rem .1rem;
    border: 1px solid white;
    overflow: hidden;
    display: inline-block
}

.chunk a {
    display: block;
    font-size: .20rem;
    line-height: 1.2;
    height: .26rem;
    overflow: hidden
}

.warp {
    margin-top: .1rem;
    padding: 0 15px
}

.user-introduce {
    position: absolute;
    top: 100%;
    right: 0;
    color: black;
    display: inline-block;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 3
}

.user-introduce ul {
    width: 37%;
    z-index: 4;
    margin-bottom: 0;
    float: right
}

.user-introduce ul li {
    color: #5f94bd;
    padding: .15rem
}

.chunk:nth-child(n+5) {
    border-top: 0
}

.chunk:nth-child(4n+1) {
    border-right: 0
}

.chunk:nth-child(4n+2) {
    border-right: 0
}

.chunk:nth-child(4n+3) {
    border-right: 0
}

.user-intro {
    padding: .3rem;
    color: black;
    display: inline-block;
    width: 60%;
    background-color: transparent;
    z-index: 3
}

.user-intro p {
    word-break: break-all;
    display: inline-block;
    width: 100%;
    text-align: left;
    margin: 0
}

.btn-rotate1 {
    transform: rotate(90deg)
}

.btn-rotate2 {
    transform: rotate(0deg)
}